{{define "Index"}}
{{template "_head"}}
{{template "_navbar"}}

<body>
    <section class="card col-md-8" style="float:none;margin:auto;">
        <h1 class="col-xs-1" align="center">Saldão Clandestino!</h1>
        <div class="col-md-12" style="float:none;margin:auto;">
            <table class="table table-hover table-bordered align-middle" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- codigo go no html -->
                    {{range .}}
                    <tr>
                        <td scope="col">{{.Nome}}</td>
                        <td scope="col">{{.Descricao}}</td>
                        <td scope="col">{{.Preco}}</td>
                        <td scope="col">{{.Quantidade}}</td>
                        <td><button onclick="onEdit('{{.Id}}')" type="button" class="btn btn-primary">
                                Editar
                            </button>
                        </td>
                        <td><button onclick="onDelete('{{.Id}}')" type="button" class="btn btn-danger">Deletar</button>
                        </td>
                    </tr>
                    {{end}}
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <section>
            <div class="card-footer">
                <button onclick="onNew()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Novo Produto
                </button>
                <!--      <a href="/novoProduto" class="btn btn-primary mb-2">Novo Produto</a> -->
            </div>
        </section>
    </section>
</body>
<script>
    function onDelete(id) {
        let res = confirm("Tem certeza que deseja deletar esse produto?")
        if (res == true) {
            window.location = "/delete?id=" + id
        }
    }

    function onEdit(id) {
        window.location = "/edit?id=" + id
        /* tirei o id=2 */
        /* window.location = "/edit" */
    }

    function onNew(){
        window.location =  href="/newProduct"
    }
</script>

</html>
{{end}}